* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-content {
  height: 5.3rem;
  width: 100%;
  background-color: #d1d2d4;
  margin-bottom: 1rem;
}
.section {
  display: flex;
}
.section-mobileView {
  display: none;
}
.section-content {
  display: flex;
  flex-direction: row-reverse;
}
.content-a {
  width: 45rem;
  height: 40.5rem;
  background-color: #8cc63f;
}
.content-b {
  width: 26rem;
  height: 40.5rem;
  background-color: #0b9444;
}
.content-c {
  width: 26rem;
  height: 40.5rem;
  background-color: #f5ee31;
}
.footer-content {
  height: 5.3rem;
  width: 100%;
  background-color: #d1d2d4;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .header-content {
    height: 4.5rem;
  }
  .section{
    display: none;
  }
  .section-mobileView {
    display: block;
  }
  .section-content-b-and-c {
    display: flex;
    flex-direction: row;
  }
  .contentA {
    width: 48rem;
    height: 30rem;
    background-color: #8cc63f;
  }
  .contentB {
    background-color: #0b9444;
  }
  .contentC {
    background-color: #f5ee31;
  }
  .contentB,
  .contentC {
    width: 24rem;
    height: 23rem;
  }
  .footer-content {
    height: 4.5rem;
  }
}

@media (max-width: 480px){
  .header-content{
      height:3.6rem ;
      margin-bottom: 1.5rem;
  } 
  .section{
      display: none;
  }  
  .section-mobileView {
    display: block;
  }
  .section-content-b-and-c {
    display: flex;
    flex-direction: column;
  }
  .contentA{
      width: 100%;
      height: 18rem;
  }
  .contentB, .contentC{
      height: 10rem;
      width: 100%;
  }
  .footer-content{
      height: 3.6rem;
      margin-top: 1.5rem;
  } 
}